body {
    margin: 0px;
    background-color: rgb(184, 176, 236);
}

.slide {
    width: 100%;
    overflow: scroll;
    padding: 35px;
    position: relative;
}

.slide_container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

.slide-item {
    width: 400px;
    height: 250px;
    border-radius: 20px;
    background-color: darkturquoise;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 350ms all;
    transform-origin: center left;
    position: relative;
}

.slide-item:hover ~ .slide-item {
    transform: translate3d(200px, 0, 0);

}

.slide_container:hover .slide-item {
    opacity: 0.3;
}

.slide_container:hover .slide-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.slide-item_img {
    width: 400px;
    height: 250px;
    object-fit: cover;
}

.slide-item_details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 20%);
    font-size: 10px;
    opacity: 0;
    transition: 900ms;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    font-family: "Arial";
}

.slide-item_details .slide-item_details-image {
    height: 25px;
    width: min-content;
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
}

.slide-item_details .slide-item_details-image .img-top {
    height: 25px;
    display: none;
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    z-index: 99;
}

.slide-item_details:hover {
    opacity: 0.9;
    color: white;
}

.slide-item_details .slide-item_details-image:hover .img-top {
    display:inline;
}

.slide-item_details p {
    margin: 0px;
}

