body {
    margin: 0px;
    background-color: rgb(184, 176, 236);
}

.slide {
    width: 100%;
    overflow: scroll;
    padding: 35px;
    position: relative;
}

.slide_container {
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}

.slide_item {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: darkturquoise;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 350ms all;
    transform-origin: center left;
}

.slide_item:hover ~ .slide_item {
    transform: translate3d(100px, 0, 0);

}

.slide_container:hover .slide_item {
    opacity: 0.3;
}

.slide_container:hover .slide_item:hover {
    transform: scale(1.5);
    opacity: 1;
}